#header{
	
	 background: -webkit-linear-gradient(left, #59ADEB, #34CE93); 
	 height:50;
	 width:100%;
	 margin-top:-25;
	 margin-left:-25;
	 padding-left: 50;
}
.center {
    margin: auto;
    width: 30%;
    border:3px solid #8AC007;
    padding: 10px;
}